root,
body,
html {
	display: flex;
	width: 100%;
	height: 100vh;
	background: #101b20;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto';
	margin: 0;
}

.container_icons img {
	width: 32px;
	height: 32px;
}

.container_icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1e3640;
	border-radius: 15px;
	padding: 16px;
	color: #eee;
}

.card p {
	font-size: 14px;
}

.container_buttons {
	display: flex;
	flex-direction: column;
	padding: 16px;
}

.container_buttons button {
	padding: 10px;
	border-radius: 8px;
	border: none;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin: 10px 0px;
}

.container_buttons .yellow {
	background-color: #f3b136;
	box-shadow: 0px 4px #b68529;
}

.container_buttons .blue {
	background-color: #31c4bf;
	box-shadow: 0px 4px #155553;
}

.options {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	background-color: #101b20;
	border-radius: 6px;
}

.options div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.options .active {
	background-color: #eee;
	border-radius: 4px;
}
